---
import BaseLayout from '../layouts/BaseLayout.astro';
import HorizontalCard from '../components/HorizontalCard.astro';
import { getCollection } from 'astro:content';
import createSlug from '../lib/createSlug';
import Card from '@components/Card.astro';

const posts = (await getCollection('blog')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const projects = (await getCollection('project')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
const last_projects = projects.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
   <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hey there 👋</div>
      <div class="text-7xl text__gradient mt-5 font-bold font-Poppins">I'm Danar</div>
      <div class="text-3xl py-3 font-bold">Fullstack Developer Based in Indonesia</div>
      <div class="py-2">
         <text class="text-lg">
            🚀 I'm committed to staying <b>up-to-date</b> with the latest trends and technologies in web development. I'm currently exploring backend & devops technology, and I'm excited about the opportunity to tackle <b>new challenges and contribute</b> to innovative projects.
         </text>
      </div>
      <div class="py-2">
         <q class="text-xl">Discipline is the key</q>
         <p class="font-bold">- Morning Programmer🔆</p>
      </div>

      <a class="connect__btn font-Poppins mt-8 w-min" href="https://www.linkedin.com/in/danargh/" target="_blank">
         <div class="svg-wrapper-1">
            <div class="svg-wrapper">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
               </svg>
            </div>
         </div>
         <span class="whitespace-nowrap">Let's Connect!</span>
      </a>
   </div>

   <div>
      <div class="text-3xl w-full font-bold mb-2">My last projects {'</>'}</div>
   </div>

   <section class="grid grid-cols-1 md:grid-cols-2">
      {
         last_projects.map((project) => (
            <section>
               <HorizontalCard title={project.data.title} img={project.data.heroImage} desc={project.data.description} url={'/projects/' + project.slug} target="_self" />
               <div class="divider my-0" />
            </section>
         ))
      }
   </section>

   <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
   </div>

   <section class="grid grid-cols-1 md:grid-cols-2">
      {
         last_posts.map((post) => (
            <>
               <HorizontalCard title={post.data.title} img={post.data.heroImage} desc={post.data.description} url={'/blog/' + createSlug(post.data.title, post.slug)} target="_self" badge={post.data.badge} />
            </>
         ))
      }
   </section>
</BaseLayout>
