---
import BaseLayout from '../layouts/BaseLayout.astro';
import HorizontalCard from '../components/HorizontalCard.astro';
import { getCollection } from 'astro:content';
import createSlug from '../lib/createSlug';

const posts = (await getCollection('blog')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const projects = (await getCollection('project')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
const last_projects = projects.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
   <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hey there 👋</div>
      <div class="text-7xl text__gradient mt-5 font-bold font-Poppins">I'm Danar</div>
      <div class="text-3xl py-3 font-bold">Fullstack Developer Based in Indonesia</div>
      <a href="#" class="link">
         <svg viewBox="0 0 200 200" width="200" height="200" xmlns="http://www.w3.org/2000/svg" class="link__svg" aria-labelledby="link1-title link1-desc">
            <title id="link1-title">MORNING PROGRAMMER PORTFOLIO WEBSITE V2</title>
            <desc id="link1-desc">A rotating link with text placed around a circle with an arrow inside</desc>

            <path id="link-circle" class="link__path" d="M 20, 100 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0" stroke="none" fill="none"></path>

            <path class="link__arrow" d="M 75 100 L 125 100 L 110 85 M 125 100 L 110 115" fill="none"></path>

            <text class="link__text">
               <textPath href="#link-circle" stroke="none">MORNING*PROGRAMMER*PORTFOLIO* &nbsp;</textPath>
            </text>
         </svg>
      </a>
      <div class="py-2">
         <text class="text-lg">
            🚀 I'm committed to staying <b>up-to-date</b> with the latest trends and technologies in web development. I'm currently exploring backend & devops technology, and I'm excited about the opportunity to tackle <b>new challenges and contribute</b> to innovative projects.
         </text>
      </div>
      <div class="py-2">
         <q class="text-xl">Discipline is the key</q>
         <p class="font-bold">- Morning Programmer🔆</p>
      </div>
      <div class="mt-8">
         <a class="btn btn-primary font-Poppins text-sm" href="https://www.linkedin.com/in/danargh/" target="_blank"> Let's Connect!</a>
      </div>
   </div>

   <div>
      <div class="text-3xl w-full font-bold mb-2">My last projects {'</>'}</div>
   </div>

   {
      last_projects.map((project) => (
         <>
            <HorizontalCard title={project.data.title} img={project.data.heroImage} desc={project.data.description} url={'/projects/' + project.slug} target="_self" />
            <div class="divider my-0" />
         </>
      ))
   }

   <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
   </div>

   {
      last_posts.map((post) => (
         <>
            <HorizontalCard title={post.data.title} img={post.data.heroImage} desc={post.data.description} url={'/blog/' + createSlug(post.data.title, post.slug)} target="_self" badge={post.data.badge} />
            <div class="divider my-0" />
         </>
      ))
   }
</BaseLayout>
