---
import BaseLayout from '../../layouts/BaseLayout.astro';
import HorizontalProjectCard from '../../components/HorizontalProjectCard.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths({ paginate }) {
   const projects = await getCollection('project');
   projects.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
   return paginate(projects, { pageSize: 10 });
}
const { page }: { page: any } = Astro.props;
---

<BaseLayout title="Project" sideBarActiveItemID="projects">
   <div class="mb-5">
      <div class="text-3xl w-full font-bold">Projects</div>
   </div>

   <ul>
      {
         page.data.map((item) => (
            <>
               <HorizontalProjectCard title={item.data.title} description={item.data.description} pubDate={item.data.pubDate} heroImage={item.data.heroImage} stack={item.data.stack} github={item.data.github} demo={item.data.demo} url={'/projects/' + item.slug} />
               <div class="divider my-0" />
            </>
         ))
      }
   </ul>

   <div class="flex justify-between">
      {
         page.url.prev ? (
            <a href={page.url.prev} class="btn btn-ghost my-10 mx-5">
               {' '}
               <svg class="h-6 w-6 fill-current md:h-8 md:w-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
               </svg>{' '}
               Previous page
            </a>
         ) : (
            <div />
         )
      }
      {
         page.url.next ? (
            <a href={page.url.next} class="btn btn-ghost my-10 mx-5">
               Next page{' '}
               <svg class="h-6 w-6 fill-current md:h-8 md:w-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  {' '}
                  <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
               </svg>
            </a>
         ) : (
            <div />
         )
      }
   </div>
</BaseLayout>
