---
import { type ProjectSchema } from '../content/config';
import BaseLayout from './BaseLayout.astro';
import dayjs from 'dayjs';
import localizedFormat from 'dayjs/plugin/localizedFormat';

export interface Props extends ProjectSchema {}

const { title, description, pubDate, heroImage, stack, demo, github } = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).format('ll');
import { Image } from 'astro:assets';
---

<BaseLayout title={title} description={description} image={heroImage} , ogType="article">
   <main class="md:flex md:justify-center">
      <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
         {heroImage && <Image width={800} height={400} src={heroImage} alt={title} class="w-full object-cover rounded-lg mb-6 border border-slate-200" />}
         <h1 class="title my-2 text-4xl font-bold">{title}</h1>
         {description && <p class="description my-2">{description}</p>}
         {
            demo && (
               <a href={demo} class="btn btn-primary">
                  Demo
               </a>
            )
         }
         {
            github && (
               <a href={github} class="btn btn-outline">
                  GitHub
               </a>
            )
         }
         <br />
         <div class="pt-3 flex gap-x-2 my-0">
            {stack && stack.map((stack) => <p class="badge badge-outline font-bold p-3 no-underline">{stack}</p>)}
         </div>
         <div class="divider my-2"></div>
         <slot />
         {pubDate && <time>Published at: {displayDate}</time>}
      </article>
   </main>
</BaseLayout>
