---
import { type ProjectSchema } from '../content/config';
import BaseLayout from './BaseLayout.astro';
import dayjs from 'dayjs';
import localizedFormat from 'dayjs/plugin/localizedFormat';

export interface Props extends ProjectSchema {}

const { title, description, pubDate, heroImage, stack, demo, github } = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).format('ll');
import { Image } from 'astro:assets';
---

<BaseLayout title={title} description={description} image={heroImage} , ogType="article">
   <main class="md:flex md:justify-center">
      <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
         {heroImage && <Image width={750} height={422} format="webp" src={heroImage} alt={title} class="w-full mb-6" />}
         <h1 class="title my-2 text-4xl font-bold">{title}</h1>
         {pubDate && <time>{displayDate}</time>}
         {description && <p class="description my-2">{description}</p>}
         {
            demo && (
               <a href={demo} class="btn btn-primary">
                  Demo
               </a>
            )
         }
         {
            github && (
               <a href={github} class="btn btn-secondary">
                  GitHub
               </a>
            )
         }
         <br />
         {
            stack &&
               stack.map((stack) => (
                  <a href={`/project/stack/${stack}`} class="badge badge-outline ml-2 no-underline">
                     {stack}
                  </a>
               ))
         }
         {
            pubDate && (
               <div>
                  {' '}
                  Last updated on <time>{pubDate}</time>{' '}
               </div>
            )
         }
         <div class="divider my-2"></div>
         <slot />
      </article>
   </main>
</BaseLayout>
